## Assignment - 3

### Ques-1 :- Display “My Name Is James” as “My ** Name ** Is ** James” using output formatting of a print() function.

In [ ]:
name = input("Enter your name please = ")    # Here name is a variable which takes the name from the user and store in it

Enter your name please = Mohak

In [ ]:
print("My","Name","Is",name,sep = '**')        # Here print function print the string formatting as we required

My**Name**Is**Mohak

### Ques-2 :- Write a Python program that prints all the numbers from 0 to 6 except 3 .

In [ ]:
num = int(input("Enter the last number from 0 to "))            # Here num variable takes integer input from user for the last element we want to print series

Enter the last number from 0 to 7

In [ ]:
for i in range(num):              # For loop is iterating to print series
  if i == 3:
    continue                      
  print(i)

0
1
2
4
5
6

### Ques-3 :- Concatenate two lists index-wise

#### Importing the library intertools

In [ ]:
import itertools

#### Concatenating

In [ ]:
Given_list1 = ["I ","Pursuing","i","MSC(DSA)"]   #Here Given_list1 is the given list and list are mutable and ordered
Given_list2 = ["am", "MBA", "n"]                 #Here Given_list2 is the given list and list are mutable and ordered

In [ ]:
for x, y in itertools.zip_longest(list1, list2 , fillvalue='.'):
    print(x,y)

I am
Pursuing MBA
i n
MSC(DSA) .

### Ques-4 :- Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.

In [23]:
Given_list1 = ["I ","Pursuing","i","MSC(DSA)"]   #Here Given_list1 is the given list and list are mutable and ordered
Given_list2 = ["am", "MBA", "n"]                 #Here Given_list2 is the given list and list are mutable and ordered
new_list = []

In [24]:
for i in range(0 , len(Given_list1) , 1):
  new_list.append(Given_list1[i])

for i in range(-1 , -len(Given_list2)-1 , -1):
  new_list.append(Given_list2[i])

print("New Concatenated list :-",new_list)                                 #Here print function print the resultant output

New Concatenated list :- ['I ', 'Pursuing', 'i', 'MSC(DSA)', 'n', 'MBA', 'am']

### Ques-5 :- Copy element 44 and 55 from the above tuple into a new tuple .

In [25]:
Given_tuple = (11, 22, 33, 44 , 55, 66,66)                #Here Given_tuple is a variable taking tuple as variable and Tuple are immutable but ordered

In [26]:
new_list = [x for x in Given_tuple if ((x == 44) or (x == 55))]    #new_list is copying element 44 and 55 from the given tuple
new_tuple = tuple(new_list)                                        #Here new_tuple is variable in which new_list is converted to tuple
print("New tuple after copying element 44 and 55 :-",new_tuple)

New tuple after copying element 44 and 55 :- (44, 55)

### Ques-6 :- Counts the number of occurrences of item 66 from a given tuple.

In [13]:
Given_tuple = (11, 22, 33, 44 , 55, 66,66)                #Here Given_tuple is a variable taking tuple as variable and Tuple are immutable but ordered

In [16]:
print("66 occured",Given_tuple.count(66),"times")

66 occured 2 times

### Ques-7 :- From given two lists convert it into the dictionary.

In [28]:
Given_keys = ['One', 'Two', 'Three']                    #Here Given_keys is a list and list can be identified as square bracket
Given_values = [1, 2, 3]                                #Here Given_keys is a list and list can be identified as square bracket

In [29]:
res_dict = {}                                           #Here res_dict is a empty dictionary and Dictionary is a collection of key , value pair
for key in Given_keys:
    for value in Given_values:
        res_dict[key] = value
        Given_values.remove(value)
        break  
print ("Resultant dictionary is : " +  str(res_dict))

Resultant dictionary is : {'One': 1, 'Two': 2, 'Three': 3}

### Ques-8 :- Check if a value 2 exists in a dictionary.

In [30]:
Given_dict = res_dict                                     #Here Given_dict is a dictionary which is taking value from above res_dict

In [34]:
all_values = Given_dict.values()                          #Here all_values taking the Given_dict values not the key
new_list = list(all_values)                               #Here new_list is taking value of converted list of all_values
if 2 in new_list:
  print("The value 2 is found")
else:
  print("The value 2 is not found")

The value 2 is found